﻿@using PFR_INVEST.Web2.Models;

@model WebNpfCorrespViewModel

@{ 
var defTextWidth = 400;
var defLabelWidth = 250;
}

<div class="line">
    @Html.DevExpress().LabelFor(model => model.ExecutorName, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.ExecutorName, s => FrontEndHelper.GenerateTextBoxSettings(s, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.ControlDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.ControlDate, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.ExecutionDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.ExecutionDate, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.AdditionalExecutionInfo, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.AdditionalExecutionInfo, s => FrontEndHelper.GenerateTextBoxSettings(s, defTextWidth, Model)).GetHtml()
</div>