﻿@using PFR_INVEST.Web2.Models;
@using PFR_INVEST.Web2.BusinessLogic.Models

@model object[]


@Html.DevExpress().GridView(settings =>
{
    settings.Name = $"CorrespItemLinksGridView";
    FrontEndHelper.SetupInboundGridViewSettings(settings, ViewContext);

    settings.CallbackRouteValues = new { Controller = "Npf", Action = "CorrespItemLinksGridViewCallback", documentID = Model[2] };
    settings.ClientSideEvents.RowDblClick = $"function(s,e){{ OnRibbonCommandExecutedExternal('NpfCorrespLinkedItem', 'Npf', s.GetRowKey(e.visibleIndex), 1); }}";
    settings.ClientSideEvents.FocusedRowChanged = "function (s,e) { listParentEntryId = s.GetRowKey(s.GetFocusedRowIndex()); listParentEntryName = s.name; if (listParentEntryId == null || listParentEntryId == 0) eval('btnDeleteLinkedDoc').SetEnabled(false); else eval('btnDeleteLinkedDoc').SetEnabled(true); }";
    settings.ClientSideEvents.BeginCallback = FrontEndHelper.GetGridViewBeginCallBack("CorrespItemLinksGridView", true);
    settings.ClientSideEvents.EndCallback = "function (s,e) { if($('#NpfCorrespOkipListGridView').length>0) eval(\"NpfCorrespOkipListGridView\").Refresh(); if($('#NpfCorrespControlOkipListGridView').length>0) eval(\"NpfCorrespControlOkipListGridView\").Refresh(); if($('#NpfCorrespArchiveOkipListGridView').length>0) eval(\"NpfCorrespArchiveOkipListGridView\").Refresh();}";

    settings.Columns.Add("ID", "ID").Visible = false;

    settings.Columns.Add(column =>
    {
        column.Caption = "Классификация";
        column.FieldName = "Classification";
    });

    settings.Columns.Add(column =>
    {
        column.Caption = "Дополнительно по содержанию";
        column.FieldName = "AdditionalOfContent";
    });

    settings.Columns.Add(column =>
    {
        column.Caption = "Исполнитель";
        column.FieldName = "Executor";
    });

    settings.Columns.Add(column =>
    {
        column.Caption = "Дата исполенения";
        column.FieldName = "ExecuteDate";
        column.ColumnType = MVCxGridViewColumnType.DateEdit;
        column.SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
    });

}).Bind(Model[1]).GetHtml()