﻿@using PFR_INVEST.Web2.BusinessLogic.Models
@using PFR_INVEST.Web2.Models;

@model WebNpfCorrespViewModel

@{ 
var defTextWidth = 400;
var defLabelWidth = 250;
}

<div class="line">
    @Html.DevExpress().LabelFor(model => model.OriginalStoragePlace, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.OriginalStoragePlace, settings =>
    {
        FrontEndHelper.GenerateComboBoxSettings(settings, defTextWidth, Model, typeof(string));
    }).BindList(Model.StoragesList).GetHtml()
</div>


<div class="line">
    @Html.DevExpress().LabelFor(model => model.Comment, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.Comment, s => FrontEndHelper.GenerateTextBoxSettings(s, defTextWidth, Model)).GetHtml()
</div>

@Html.DevExpress().TextBoxFor(model => model.SelectedFileName, s => FrontEndHelper.GenerateHiddenTextBoxSettings(s, "SelectedFileName")).GetHtml()

<div class="line">
    @Html.DevExpress().LabelFor(model => model.DisplayFileName, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().ButtonEditFor(model => model.DisplayFileName,
        settings => {
            settings.ReadOnly = true;
            settings.Width = defTextWidth;
            if (Model.State != ViewModelState.Create)
            {
                settings.Properties.Buttons.Add("Открыть");
                if (!string.IsNullOrEmpty(Model.SelectedFileName))
                    settings.Properties.Buttons.Add("Удалить");
            }
            settings.Properties.ClientSideEvents.ButtonClick = $"function(s,e) {{if(e.buttonIndex==0){{downloadFile('Npf','DownloadCorrespPreload','DownloadCorresp',{Model.ID});}} if(e.buttonIndex == 1) {{SelectedFileName.SetText(''); DisplayFileName.SetText('');}}}}";
        }).GetHtml()
</div>

<div class="line">
    @Html.Partial("_CorrespondenceItemAddTabUploadViewPartial", Model, ViewData)
</div>
