﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfSpnStatusGiveViewModel

@{ 
    var defTextWidth = 400;
    var defLabelWidth = 200;
}

@Html.Partial("_FadeDivDialogPartialView", Model, ViewData)

<!-- Hidden ID field -->
@Html.DevExpress().TextBoxFor(model => model.AjaxRequestParamValue, settings => FrontEndHelper.GenerateHiddenTextBoxSettings(settings, "AjaxRequestParamValue")).GetHtml()

@if(!Model.IsMassTransfer)
{ 
    if(!Model.IsMassTransferDialog)
    {
<div class="line">
    @Html.DevExpress().LabelFor(model => model.FinNum, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.FinNum, s => FrontEndHelper.GenerateReadonlyTextBoxSettings(s, defTextWidth, Model)).GetHtml()
</div>
    }
<div class="line">
    @Html.DevExpress().LabelFor(model => model.FinDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.FinDate, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.FinMoveType, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.FinMoveType, settings =>
    {
        FrontEndHelper.GenerateComboBoxSettings(settings, defTextWidth, Model, typeof(string));
        settings.Properties.AllowUserInput = false;
        settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
    }).BindList(Model.FinMoveTypes).GetHtml()</div>
}
else
{
    <div>
        @Html.DevExpress().Label(s => {
        FrontEndHelper.GenerateLabelSettings(s, defLabelWidth, null);
        s.Text = "Вручить все финреестры?";
       }).GetHtml()
    </div>
}

