﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfSpnFinregisterViewModel2

@{ 
var defTextWidth = 400;
var defLabelWidth = 200;
}

<!-- Hidden ID field -->
@Html.DevExpress().TextBoxFor(model => model.ID, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()
@Html.DevExpress().TextBoxFor(model => model.AjaxRequestParamValue, settings => FrontEndHelper.GenerateHiddenTextBoxSettings(settings, "AjaxRequestParamValue")).GetHtml()


<div class="line">
    @Html.DevExpress().LabelFor(model => model.WebStatusNpfID, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.WebStatusNpfID, settings =>
{
    settings.ClientEnabled = Model.isEnabled;
    FrontEndHelper.GenerateComboBoxSettings(settings, defTextWidth, Model, "Name", "ID", typeof(long));
    settings.Properties.ClientSideEvents.SelectedIndexChanged = $"function(s,e){{ AjaxRequestParamValue.SetText('1'); SubmitAjaxForm('{Model.FormId}'); }}";
}).BindList(Model.StatusNPFList).GetHtml()
</div>

@if(Model.IsNpfGarantVisible) {
<div class="line">
    @Html.DevExpress().LabelFor(model => model.WebNPFGarantID, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.WebNPFGarantID, settings =>
{
    settings.ClientEnabled = Model.isEnabled;
    FrontEndHelper.GenerateComboBoxSettings(settings, defTextWidth, Model, "Name", "ID", typeof(long));
    settings.Properties.ClientSideEvents.SelectedIndexChanged = $"function(s,e){{ AjaxRequestParamValue.SetText('2'); SubmitAjaxForm('{Model.FormId}'); }}";
}).BindList(Model.NPFGarantList).GetHtml()
</div>
}

<div class="line">
    @Html.DevExpress().LabelFor(model => model.WebNPFID, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.WebNPFID, settings =>
{
    settings.ClientEnabled = Model.isEnabled;
    FrontEndHelper.GenerateComboBoxSettings(settings, defTextWidth, Model, "FormalizedNameFull", "ID", typeof(long));
    //settings.Properties.ClientSideEvents.SelectedIndexChanged = $"function(s,e){{ AjaxRequestParamValue.SetText('3'); SubmitAjaxForm('{Model.FormId}'); }}";
    settings.Properties.AllowUserInput = true;
    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
    settings.Properties.DropDownStyle = DropDownStyle.DropDown;
}).BindList(Model.NPFList).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.WebSelectedINN, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.WebSelectedINN, settings =>
{
    settings.ClientEnabled = Model.isEnabled;
    FrontEndHelper.GenerateComboBoxSettings(settings, defTextWidth, Model, "INN", "INN", typeof(string));
    //settings.Properties.ClientSideEvents.SelectedIndexChanged = $"function(s,e){{ AjaxRequestParamValue.SetText('1'); SubmitAjaxForm('{Model.FormId}'); }}";
    settings.Properties.AllowUserInput = true;
    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
    settings.Properties.DropDownStyle = DropDownStyle.DropDown;
}).BindList(Model.NPFList).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.FrContent, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.FrContent, s => FrontEndHelper.GenerateReadonlyTextBoxSettings(s, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().Label(settings => {
        FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, null);
        settings.Text = Model.WebCountLabelContent;
    }).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.FrCount, s => {
    s.ClientEnabled = !Model.IsCountReadOnly;
    FrontEndHelper.GenerateTextBoxSettings(s, defTextWidth, Model);
    s.Properties.DisplayFormatString = FrontEndHelper.DECIMAL_MASK;
    s.Properties.DisplayFormatInEditMode = true;
}).GetHtml()
</div>

@if(Model.IsCFRCountVisible) {
<div class="line">
    @Html.DevExpress().Label(settings => {
    FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, null);
    settings.Text = "ЧФР*";
    }).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.CFRCount, s => {
    s.ClientEnabled = !Model.IsCountReadOnly;
    FrontEndHelper.GenerateTextBoxSettings(s, defTextWidth, Model);
    s.Properties.DisplayFormatString = FrontEndHelper.DECIMAL_MASK;
    s.Properties.DisplayFormatInEditMode = true;
    }).GetHtml()
</div>
}
@if(Model.CommonFinregisterVisibilityBool) {
<div class="line">
    @Html.DevExpress().LabelFor(model => model.FrStatus, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.FrStatus, s => {
        s.ClientEnabled = Model.IsInactiveNPFStatusBool;
        FrontEndHelper.GenerateTextBoxSettings(s, defTextWidth, Model);
}).GetHtml()
</div>
}

@if (Model.TrancheDateVisibilityBool)
{
<div class="line">
    @Html.DevExpress().LabelFor(model => model.FrTrancheDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.FrTrancheDate, settings =>
    {
        settings.ClientEnabled = Model.isEnabled;
        FrontEndHelper.GenerateReadonlyDateEditSettings(settings, defTextWidth, Model);
    }).GetHtml()
</div>
}

<div class="line">
    @Html.DevExpress().LabelFor(model => model.FrRegNum, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.FrRegNum, s => FrontEndHelper.GenerateReadonlyTextBoxSettings(s, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.WebFrDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.WebFrDate, settings =>
    {
    FrontEndHelper.GenerateReadonlyDateEditSettings(settings, defTextWidth, Model);
    }).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.ZLCount, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.ZLCount, s => {
    s.ClientEnabled = !Model.IsZLCountReadOnly;
    FrontEndHelper.GenerateTextBoxSettings(s, defTextWidth, Model);
    }).GetHtml()
</div>

@if(Model.CommonFinregisterVisibilityBool)
{
<div class="line">
    @Html.DevExpress().LabelFor(model => model.FinMoveType, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().ComboBoxFor(model => model.FinMoveType, settings =>
    {
        //TODO пока не реализуем
        settings.ClientEnabled = false;//Model.IsInactiveNPFStatusBool;
        FrontEndHelper.GenerateComboBoxSettings(settings, defTextWidth, Model, typeof(string));
    }).BindList(Model.FinMoveTypes).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.FinDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.FinDate, settings =>
{
    settings.ClientEnabled = Model.isEnabled && !Model.IsActiveNPFStatusBool;
    FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model);
}).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.FinNum, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.FinNum, s => {
    s.ClientEnabled = Model.isEnabled && !Model.IsActiveNPFStatusBool;
    FrontEndHelper.GenerateTextBoxSettings(s, defTextWidth, Model);
    }).GetHtml()
</div>
}

@if(Model.DraftsListVisibilityBool)
{
    @Html.Partial("_SpnFinregisterCommonGridViewPartial", Model.DraftsList.ToArray(), ViewData);

}

@if(Model.TempAllocationVisibilityBool)
{
<div class="line">
    @Html.DevExpress().LabelFor(model => model.FrComment, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.FrComment, s => FrontEndHelper.GenerateTextBoxSettings(s, defTextWidth, Model)).GetHtml()
</div>
}