﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfSpnStatusReqViewModel

@{ 
    var defTextWidth = 400;
    var defLabelWidth = 200;
}

@Html.Partial("_FadeDivDialogPartialView", Model, ViewData)

<!-- Hidden ID field -->
@Html.DevExpress().TextBoxFor(model => model.AjaxRequestParamValue, settings => FrontEndHelper.GenerateHiddenTextBoxSettings(settings, "AjaxRequestParamValue")).GetHtml()

@if(!Model.IsMassTransfer)
{ 
<div class="line">
    @Html.DevExpress().LabelFor(model => model.NpfName, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.NpfName, s => FrontEndHelper.GenerateReadonlyTextBoxSettings(s, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.RegNum, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.RegNum, s=> FrontEndHelper.GenerateTextBoxSettings(s, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.WebDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.WebDate, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.WebCount, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.WebCount, s => FrontEndHelper.GenerateReadonlyTextBoxSettings(s, defTextWidth, Model)).GetHtml()
</div>
}
else
{
    <div>
        @Html.DevExpress().Label(s => {
        FrontEndHelper.GenerateLabelSettings(s, defLabelWidth, null);
        s.Text = "Ввести реквизиты для всех финреестров?";
       }).GetHtml()
    </div>
}

