﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfRedistGenerateTransferViewModel

@Html.DevExpress().CallbackPanel(
    settings =>
    {
        settings.Name = $"{Model.FormId}Panel";
        settings.CallbackRouteValues = new { Controller = "Npf", Action = settings.Name };
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.Height = 150;

        settings.SetContent(() =>
        {
            //Html.DevExpress().TextBoxFor(model => model.ID, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml();
            Html.DevExpress().TextBoxFor(model => model.CanClose, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml();

            //Html.Raw(@"<div class=""col""><div class=""row"">");
            Html.DevExpress().Label(s => { s.Text = Model.Message; s.ControlStyle.CssClass = "blockCentered h-center"; }).GetHtml();
            Html.Raw(@"<div style=""width: 200px"">");
            Html.DevExpress().Button(s =>
            {
                FrontEndHelper.GenerateCloseButtonSettings(s, Model, Convert.ToInt32(ViewData["Layer"]));
                s.Text = "Закрыть";
                s.Style.Add(HtmlTextWriterStyle.Margin, "0 auto");
                s.Style.Add(HtmlTextWriterStyle.Display, "table");
                //s.ControlStyle.CssClass = "blockCentered h-center";
                s.ClientVisible = Model.CanClose;
            }).GetHtml();
            Html.Raw(@"</div>");
        });

        settings.ClientSideEvents.Init = $"function() {{{settings.Name}.PerformCallback();}}";

        //settings.ClientSideEvents.BeginCallback = "OnBeginCallback";
        //settings.ClientSideEvents.EndCallback = "OnEndCallback";
    }
).GetHtml()



