﻿/* CSS used here will be applied after bootstrap.css */
.dxeDisabled_Office2010Blue {
    color: black;
}

.gridviewmaxheight600 {
    max-height: 600px;
}

.gridviewmaxheight200 {
    max-height: 200px;
}

/* Стили для центровки контента */

.blockCentered {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.h-center {
    text-align: center;
}

.v-center span {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}


/* Стиль для исчезающего сообщения об успешном сохранении */
.fadeDiv{
    text-align:center;
    min-width: 350px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    font-size: 10px;
    word-wrap: break-word;
    padding: 2px;
}

.flippedImg {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -khtml-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}


.line2 {
    display:flex;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: left; /* for horizontal aligning of child divs */
    align-items : left; /* for vertical aligning */
}


/*Стиль формы и ряда формы*/
.edit_form .line
{
    display: block;
    clear: both;
    margin: 1px 0px;
}

/*Стиль формы и лейблов формы*/
.edit_form .label,
.edit_form .wideLabel
{
    display: block;
    float: left;
    width: 120px;    
    clear: left;
    color: black;
    text-align: left;
    padding: 4px 0px;
}

.header-bg {
    background: url('/Content/Images/header-bg2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    min-height: 70px;
}

/*Бэкграунд всей страницы*/
.body-bg {
    background: url('/Content/Images/header-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    -ms-transform: translate(0,-60); /* IE 9 */
    -webkit-transform: translate(0,-60); /* Chrome, Safari, Opera */
    transform: translate(0,-60);
}

.padding8
{
    padding: 8px;
}

.padding4
{
    margin: 4px;
}


.padding2tb
{
    padding-top: 2px;
    padding-bottom: 2px;
}

.paddingRibbon
{
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
}


.loginName {
    white-space:normal;
    width: 170px;
    word-wrap: break-word;
    vertical-align: middle;
    -moz-align-content: center;
    -o-align-content: center;
    -webkit-align-content: center;
    align-content: center;
    font-style: italic;
}

.loginIcon{
    float: left;
    width: 32px;
    padding-right: 2px;
}

.loginBtn{
    height: 25px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size:10pt;
}

.wrapper:before,
.wrapper:after,
.column:before,
.column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.col-fixed-325 {
    width: 325px;
    position: fixed;
    z-index: 1;
}

.col-fixed-200 {
    width: 200px;
    position: fixed;
    z-index: 1;
}

.col-offset-325 {
    padding-left: 325px;
    z-index: 0;
}

#loginheadercolumn {
    position: fixed;
    right: 0;
    padding: 5px;
    min-width:210px;
}



#main {

}

.pull-down {
    
}