﻿@Html.DevExpress().CallbackPanel(
settings =>
{
    settings.Name = "historyPanel";
    settings.CallbackRouteValues = new { Controller = "CallbackPanel", Action = "HistoryPartial" };
    // settings.Width = Unit.Percentage(100);
    // settings.Height = 400;

    settings.SetContent(() =>
    {
    ViewContext.Writer.Write(@"
    <div id=""sidebar-wrapper"">
    <ul class=""sidebar-nav"">
        <li class=""sidebar-brand"">
            <div>
                Последние открытые
            </div>
        </li>");

    if (Model != null)
    {
        var model = Model as string[];
        for (int i = 0; i < model.Length; i++)
        {
            var str = model[i].Split('|');
            ViewContext.Writer.Write($"<li onmouseover=\"document.getElementById('{str[0] + i}').style.display = 'block'; \" onmouseout=\"document.getElementById('{str[0] + i}').style.display = 'none'; \"><a  class=\"column_left\" href=\"#\" onclick=\"OnRibbonCommandExecutedExternal('{str[0]}','{str[2]}');\" >{str[1]}</a><a id=\"{str[0]+i}\" class=\"column_right\" href=\"#\" onclick=\"OnRemoveHistoryElement('{str[0]}');\" style=\"display: none; \"><img src=\"/Content/Images/closebox.png\"/></a></li>");
    }
        }
        ViewContext.Writer.Write("</ul></div>");
    });

    settings.ClientSideEvents.BeginCallback = "OnHistoryPanelBeginCallback";
    settings.ClientSideEvents.EndCallback = "OnHistoryPanelEndCallback";
}).GetHtml()

