﻿@using PFR_INVEST.Web2.BusinessLogic.Models
@using PFR_INVEST.Web2.BusinessLogic

@model object[]

<div class="line2">
    <div>
        @Html.DevExpress().Button(settings => FrontEndHelper.GenerateSimpleSubmitButtonSettings(settings, (IWebViewModel)Model[0], Model[1].ToString(), (int)ViewData["Layer"])).GetHtml()
    </div>
    <div>
        @Html.DevExpress().Button(settings => FrontEndHelper.GenerateSimpleCancelButtonSettings(settings, (IWebViewModel)Model[0], (int)ViewData["Layer"])).GetHtml()
    </div>
</div>