﻿@using PFR_INVEST.Web2.BusinessLogic


<div class="row paddingRibbon" id="ribbonContainer">
    @Html.DevExpress().Ribbon(settings =>
{
    settings.Name = $"ribbon{ViewData["Category"]}";
    settings.ClientSideEvents.CommandExecuted = "OnRibbonCommandExecuted";
   // settings.ClientSideEvents.Init = "OnRibbonInit";
    //settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

    settings.SetFileTabTemplateContent(c =>
    {
        TabControlTemplateContainerBase container = (TabControlTemplateContainerBase)c;
        if (!container.Active)
        {
            ViewContext.Writer.Write("<img src=\"/Content/Images/arrow_left.png\" id=\"menu-toggle\" style=\"width: 24px; height: 100%;\"/>");
        }
    });

    settings.ItemDataBound = (sender, e) =>
    {
        e.Item.Visible = FrontEndHelper.GetIsDataElementVisible(e.Item.DataItem, ViewData);
        if(e.Item is RibbonButtonItem)
        {
            var b = (RibbonButtonItem)e.Item;
            if (string.IsNullOrEmpty(b.SmallImage.Url))
                b.SmallImage.Url = b.LargeImage.Url;
        }
        e.Item.ClientEnabled = FrontEndHelper.IsRibbonElementEnabled(e.Item.Name);
    };

    settings.GroupDataBound = (sender, e) =>
    {
        if (e.Group.Name == "DicNpfLetters")
            e.Group.Visible = false;
        else e.Group.Visible = FrontEndHelper.GetIsDataElementVisible(e.Group.DataItem, ViewData);
    };

    settings.TabDataBound = (sender, e) =>
    {
        e.Tab.Visible = FrontEndHelper.GetIsDataElementVisible(e.Tab.DataItem, ViewData);
        e.Tab.TabStyle.Height = 24;
    };

}).BindToXML(HttpContext.Current.Server.MapPath("~/App_Data/Ribbon/DictionaryInterface.xml"), "/DictionaryInterface/*").GetHtml()
</div>


@section AdditionalResources {
}