﻿@using PFR_INVEST.Web2.BusinessLogic

@model PopupControlParams

@{ 
//BeginCallback и EndCallback вызывается единожды при загрузке
//CloseUp вызываетс единожды при закрытии
}

@Html.DevExpress().PopupControl(
settings =>
{
    var addon = Model.Layer == 0 ? "" : Model.Layer.ToString();
    settings.Name = Model.Name;
    settings.HeaderText = Model.FormTitle;
    settings.ClientSideEvents.BeginCallback = Model.BeginCallback;
    //загружаем проверку изменения данных формы при открытии попапа после загрузки контента, первоначально
    settings.ClientSideEvents.EndCallback = $"function(s,e) {{ loadFormInputCheck(\"validationForm{Model.FormId}\",\"btnSubmit{Model.FormId}\") }}";
    //выгружаем проверку 100% при закрытии формы в любом случае
    settings.ClientSideEvents.CloseUp = $"function (s,e) {{ debugger; if (typeof backNotifyPopupClosed{addon} === 'function') backNotifyPopupClosed{addon}('{Model.FormId}'); }}";
    settings.LoadContentViaCallback = LoadContentViaCallback.OnFirstShow;
    settings.CallbackRouteValues = new { Controller = "Dictionary", Action = "LoadViewPartialBind"};
    settings.AllowDragging = true;
    settings.AllowResize = Model.IsResizable;
    settings.ShowFooter = false;
    settings.ShowOnPageLoad = false;
    settings.CloseAction = CloseAction.CloseButton;
    settings.CloseAnimationType = AnimationType.Fade;
    settings.PopupAnimationType = AnimationType.Fade;
    settings.Modal = true;

    settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
    settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;

    if(Model.Width > 0)
        settings.Width = Model.Width;
    if (Model.Height > 0)
        settings.Height = Model.Height;
}
).GetHtml()