﻿@using PFR_INVEST.Web2.BusinessLogic
@using PFR_INVEST.Web2.BusinessLogic.Models

@model IWebViewModel

@{
    var contentBody = "contentBody" + Model.FormId;
}

@using (Ajax.BeginForm(Model.AjaxAction, Model.AjaxController, new { Layer = ViewData["Layer"], FormId = ViewData["FormID"], EntryID = ViewData["EntryID"], ParentID = ViewData["ParentID"], ParentEntryID = ViewData["ParentEntryID"] }, FrontEndHelper.GenerateDefaultAjaxOptions(Model), FrontEndHelper.GenerateDefaultAjaxStyle(Model)))
{
    <div id="@contentBody">
        @Html.Partial(Model.AjaxPartial)
    </div>
    <input type="hidden" name="ajaxFormCallbackParam1" value="0"> 
   
    <div>
        <div class="line2">
            <div>
                @Html.DevExpress().Button(
                settings =>
                {
                    settings.Name = "btnSubmit" + Model.FormId;
                    settings.Text = $"Принять";
                    settings.ControlStyle.CssClass = "padding4";
                    settings.UseSubmitBehavior = true;
                    settings.EnableClientSideAPI = true;

                    settings.ClientSideEvents.Click = $"function (s,e) {{ debugger; if(typeof OnSharedAjaxFormSubmit{Model.FormId} === 'function') {{ e.processOnServer = OnSharedAjaxFormSubmit{Model.FormId} (); return; }}  }}";

                    if (Model.EditAccessDenied)
                        settings.ClientEnabled = false;
                    settings.Width = 100;
                }).GetHtml()
            </div>
            <div>
                @Html.DevExpress().Button(settings =>
               {
                   FrontEndHelper.GenerateCloseButtonSettings(settings, Model, (int)ViewData["Layer"]);
               }).GetHtml()
            </div>
        </div>
    </div>
}




