﻿@using PFR_INVEST.Web2.BusinessLogic
@using PFR_INVEST.DataObjects

@model List<LegalEntityIdentifier>

@Html.DevExpress().GridView(settings =>
{
    settings.Name = $"IdentifiersGridView";
    FrontEndHelper.SetupInboundGridViewSettings(settings, ViewContext);
    settings.CallbackRouteValues = new { Controller = "Dictionary", Action = "NpfIdentifiersGridCallback", leID = ViewData["EntryID"] ?? "0" };
    settings.ClientSideEvents.FocusedRowChanged = "function(s,e) { OnGlobalGridViewSelectionChanged(s,\"btnDeleteIdentifier\",\"selectedIdentifierListId\", \"npfidentifier\") }";
    settings.ClientSideEvents.BeginCallback = "function(s,e) { e.customArgs[\"DeleteID\"] = deleteEntryId; deleteEntryId=null; }";
    settings.ClientSideEvents.RowDblClick = $"function(s,e) {{ OnGlobalGridViewEntryDblClick(s, 'ID;LegalEntityID', 'dlgNpfIdentifier', 'Dictionary'); }}";


    settings.Columns.Add("ID", "ID").Visible = false;
    settings.Columns.Add("Identifier", "Идентификатор НПФ").Width = 100;
    settings.Columns.Add("SetDate", "Дата установки").SortOrder = DevExpress.Data.ColumnSortOrder.Descending;
    settings.Columns["SetDate"].Width = 100;
    ((MVCxGridViewColumn)settings.Columns["SetDate"]).PropertiesEdit.DisplayFormatString = "d";
    settings.Columns.Add("Reason", "Причина установки");
}).Bind(Model).GetHtml()
