﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfViewModel

@{ 
    var defTextWidth = 400;
    var defLabelWidth = 300;
}

<div class="line">
    @Html.DevExpress().CheckBoxFor(model => model.IsGarantedNullable, settings =>
{
    FrontEndHelper.GenerateCheckBoxSettings(settings, "", Model);
    var mData = ModelMetadata.FromLambdaExpression(m => m.IsGarantedNullable, ViewData);
    if(mData != null && !string.IsNullOrEmpty(mData.DisplayName))
        settings.Text = mData.DisplayName; 
    settings.Properties.ClientSideEvents.CheckedChanged = "function (s,e) { onIsGarantedCheckedChanged(s); }";
}).GetHtml()
</div>

<div class="line">
    @Html.DevExpress().LabelFor(model => model.FundNum, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "FundNum")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.FundNum, settings =>
{
    FrontEndHelper.SetTextBoxMask(settings, "#########0");
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
    settings.ClientEnabled = Model.IsGaranted;
}).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.FundDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "FundDate")).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.FundDate, settings => { 
        FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model);
        settings.ClientEnabled = Model.IsGaranted;
    }).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.NotifNum, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "NotifNum")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.NotifNum, settings =>
    {
        FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
        settings.ClientEnabled = Model.IsGaranted;
    }).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.NotifDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "NotifDate")).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.NotifDate, settings =>
    {
        FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model);
        settings.ClientEnabled = Model.IsGaranted;
    }).GetHtml()
</div>