﻿@using PFR_INVEST.Web2.BusinessLogic
@using PFR_INVEST.DataObjects

@model List<LegalEntityCourier>

@Html.DevExpress().GridView(settings =>
{
    settings.Name = $"ContactsGridView";
    FrontEndHelper.SetupInboundGridViewSettings(settings, ViewContext);
    settings.CallbackRouteValues = new { Controller = "Dictionary", Action = "NpfContactsGridCallback", leID = ViewData["EntryID"] ?? "0" };

    settings.ClientSideEvents.FocusedRowChanged = "function(s,e) { OnGlobalGridViewSelectionChanged(s,\"btnDeleteContact\",\"selectedContactListId\", \"npfcontact\") }";
    settings.ClientSideEvents.BeginCallback = "function(s,e) { debugger; e.customArgs[\"DeleteID\"] = deleteEntryId; deleteEntryId=null; }";
    settings.ClientSideEvents.RowDblClick = $"function(s,e) {{ OnGlobalGridViewEntryDblClick(s, 'ID;LegalEntityID', 'DicNpfCreateNpfContact', 'Dictionary'); }}";


    settings.Columns.Add("LastName", "Фамилия");
    settings.Columns.Add("FirstName", "Имя");
    settings.Columns.Add("PatronymicName", "Отчество");
    settings.Columns.Add("Position", "Должность");
    settings.Columns.Add("WorkPhone", "Телефон рабочий");
    settings.Columns.Add("MobilePhone", "Телефон мобильный");
    settings.Columns.Add("Email", "Электронная почта");
}).Bind(Model).GetHtml()

