﻿@using PFR_INVEST.DataObjects
@using PFR_INVEST.Web2.BusinessLogic

@model List<LegalEntityCourier>

@Html.DevExpress().GridView(settings =>
{
    settings.Name = $"CouriersGridView";
    FrontEndHelper.SetupInboundGridViewSettings(settings, ViewContext);
    settings.CallbackRouteValues = new { Controller = "Dictionary", Action = "NpfCouriersGridCallback", leID = ViewData["EntryID"] ?? "0" };

    settings.ClientSideEvents.FocusedRowChanged = $"function(s,e) {{ OnGlobalGridViewSelectionChanged(s,\"btnDeleteCourier\",\"selectedCourierListId\", \"npfcourier\") }}";
    settings.ClientSideEvents.BeginCallback = "function(s,e) { debugger; e.customArgs[\"DeleteID\"] = deleteEntryId; deleteEntryId=null; }";
    settings.ClientSideEvents.RowDblClick = $"function(s,e) {{ OnGlobalGridViewEntryDblClick(s, 'ID;LegalEntityID', 'DicNpfCreateNpfCourier', 'Dictionary'); }}";

    settings.Columns.Add("LastName", "Фамилия");
    settings.Columns.Add("FirstName", "Имя");
    settings.Columns.Add("PatronymicName", "Отчество");
    settings.Columns.Add("WorkPhone", "Телефон рабочий");
    settings.Columns.Add("LetterOfAttorneyNumber", "№ доверенности");
    settings.Columns.Add("LetterOfAttorneyExpireDate", "Дата окончания действия доверенности").PropertiesEdit.DisplayFormatString = "d";
}).Bind(Model).GetHtml()
