﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfViewModel

@{ 
    var defTextWidth = 400;
    var defLabelWidth = 250;
}

<div class="line">
    @Html.DevExpress().LabelFor(model => model.LicNumber, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "LicNumber")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.LicNumber, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.LicRegDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "LicRegdate")).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.LicRegDate, settings =>
    {
        FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model);
        settings.ReadOnly = Model.IsLicenseDateEditDisabled;
    }).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.LicRegistrator, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "LicRegistrator")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.LicRegistrator, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.LicCloseDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "LicCloseDate")).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.LicCloseDate, settings => FrontEndHelper.GenerateDisabledDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().Button(settings =>
    {
        FrontEndHelper.GenerateButtonSettings(settings, 200, "Аннулировать", "btnAnnul", Model);
        if (Model.LicCloseDate.HasValue)
            settings.ClientEnabled = false;
        settings.ClientSideEvents.Click = $"function (s,e) {{ if(!{Model.EditAccessDenied.ToString().ToLower()}) OnRibbonCommandExecutedExternal(\"dlgAnnulDate\",\"Dictionary\", 0, 1); }}";
    }).GetHtml()
    @Html.DevExpress().Button(settings =>
    {
        FrontEndHelper.GenerateButtonSettings(settings, 200, "Отменить", "btnCancelAnnul", Model);
        settings.ClientSideEvents.Click = $"function (s,e) {{ if(!{Model.EditAccessDenied.ToString().ToLower()}) onPopupCloseddlgAnnulDate(null,'{Model.FormId}'); }}";
        if (!Model.LicCloseDate.HasValue)
            settings.ClientEnabled = false;
    }).GetHtml()
</div>


<div class="line">
    @Html.DevExpress().LabelFor(model => model.CloseDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth)).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.CloseDate, settings =>
    {
        FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model);
        settings.Properties.ClientSideEvents.DateChanged = $"function (s,e) {{ if(!{Model.EditAccessDenied.ToString().ToLower()}) OnCloseDateChanged(s,e); }}";

    }).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().Button(settings =>
    {
        FrontEndHelper.GenerateButtonSettings(settings, 200, "Отменить", "btnCancelLiquidate", Model);
        settings.ClientSideEvents.Click = $"function (s,e) {{ if(!{Model.EditAccessDenied.ToString().ToLower()}) onCancelLiquidate(); }}";
        if (!Model.LicCloseDate.HasValue)
            settings.ClientEnabled = false;
    }).GetHtml()
</div>

<div id="npfLicPopup"></div>
<div id="npfLicScrPopup"></div>
