﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfCourierViewModel

@{ 
    var defTextWidth = 400;
    var defLabelWidth = 150;
}

<!-- Hidden ID field -->
@Html.DevExpress().TextBoxFor(model => model.ID, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()
@Html.DevExpress().TextBoxFor(model => model.LegalEntityID, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()
@Html.DevExpress().TextBoxFor(model => model.TypeID, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()

<div class="line">
    @Html.DevExpress().LabelFor(model => model.LastName, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "LastName")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.LastName, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.FirstName, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "FirstName")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.FirstName, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.MiddleName, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "MiddleName")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.MiddleName, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.PassportSerie, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "PassportSerie")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.PassportSerie, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.PassportNumber, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "PassportNumber")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.PassportNumber, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.PassportBy, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "PassportBy")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.PassportBy, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.PassportWhen, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "PassportWhen")).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.PassportWhen, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.Address, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "Address")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.Address, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>



<div class="line">
    @Html.DevExpress().LabelFor(model => model.WorkPhone, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "WorkPhone")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.WorkPhone, settings =>
{
    FrontEndHelper.SetTextBoxMask(settings, "+7 (999) 999 99 99");
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
}).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.WorkPhoneExtension, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "WorkPhoneExtension")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.WorkPhoneExtension, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.MobilePhone, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "MobilePhone")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.MobilePhone, settings =>
{
    FrontEndHelper.SetTextBoxMask(settings, "+7 (999) 999 99 99");
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
}).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.Email, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "Email")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.Email, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
