﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfViewModel

@{ 
    var defTextWidth = 400;
    var defLabelWidth = 300;
    var varname = "selectedCourierListId";
}

<div class="line">
    @Html.DevExpress().Button(settings =>
{
    FrontEndHelper.GenerateButtonSettings(settings, 200, "Удалить", "btnDeleteCourier", Model);
    settings.ClientSideEvents.Click = $"function(s,e){{if({Model.EditAccessDenied.ToString().ToLower()}) return; if(confirm('{Model.CustomDeleteMessage}?') !== true) return; debugger; deleteEntryId={varname}; CourierssGridView.PerformCallback(); }}";
    settings.ClientEnabled = false;
}).GetHtml()
    @Html.DevExpress().Button(settings =>
{
    FrontEndHelper.GenerateButtonSettings(settings, 300, "Показать сведения об удаленных", "btnShowCourier", Model);
    settings.ClientSideEvents.Click = $"function(s,e){{ OnRibbonCommandExecutedExternal(\"dlgDeletedCouriersList\",\"Dictionary\", \"{Model.ID}\",1); }}";
    settings.ClientEnabled = Model.CourierListDeleted.Count > 0;
}).GetHtml()
</div>

@Html.Partial("_NpfCreateNpfCourierGridViewPartial", Model.CourierList, ViewData)
