﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfViewModel

@{ 
var defTextWidth = 400;
var defLabelWidth = 250;
}
<!-- Hidden ID field -->
@Html.DevExpress().TextBoxFor(model => model.ID, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()

<div class="line">
    @Html.DevExpress().LabelFor(model => model.FullName, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "FullName")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.FullName, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.ShortName, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "ShortName")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.ShortName, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.FormalizedName, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "FormalizedName")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.FormalizedName, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.RegistrationNumber, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "RegistrationNumber")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.RegistrationNumber, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.RegistrationDate, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "RegistrationDate")).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.RegistrationDate, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.Registrator, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "Registrator")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.Registrator, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.PFRAGR, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "PFRAGR")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.PFRAGR, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.PFRAGRDATE, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "PFRAGRDATE")).GetHtml()
    @Html.DevExpress().DateEditFor(model => model.PFRAGRDATE, settings => FrontEndHelper.GenerateDateEditSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.NPFStatus, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model, "NPFStatus")).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.NPFStatus, settings => FrontEndHelper.GenerateReadonlyTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>



@Html.DevExpress().GridView(settings =>
{
    settings.Name = $"OldNamesGridView";
    FrontEndHelper.SetupInboundGridViewSettings(settings, ViewContext);

    settings.Columns.Add("FullName", "Полное наименование");
    settings.Columns.Add("ShortName", "Краткое наименование");
    settings.Columns.Add("FormalizedName", "Формализованное наименование");
    settings.Columns.Add("Date", "Дата изменения").PropertiesEdit.DisplayFormatString = "d";
}).Bind(Model.OldNamesList).GetHtml()
