﻿@using PFR_INVEST.Web2.Models
@using PFR_INVEST.Web2.BusinessLogic

@model WebNpfBranchViewModel

@{ 
    var defTextWidth = 400;
    var defLabelWidth = 150;
}

@Html.Partial("_FadeDivPartialView", Model, ViewData)

<!-- Hidden ID field -->
@Html.DevExpress().TextBoxFor(model => model.ID, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()
@Html.DevExpress().TextBoxFor(model => model.LegalEntityID, FrontEndHelper.GenerateHiddenTextBoxSettings()).GetHtml()

<div class="line">
    @Html.DevExpress().LabelFor(model => model.BranchName, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.BranchName, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.BranchAddress, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.BranchAddress, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.BranchPosAddress, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.BranchPosAddress, settings => FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model)).GetHtml()
</div>
<div class="line">
    @Html.DevExpress().LabelFor(model => model.BranchPhone, settings => FrontEndHelper.GenerateLabelSettings(settings, defLabelWidth, Model)).GetHtml()
    @Html.DevExpress().TextBoxFor(model => model.BranchPhone, settings =>
{
    FrontEndHelper.SetTextBoxMask(settings, "+7 (999) 999 99 99");
    FrontEndHelper.GenerateTextBoxSettings(settings, defTextWidth, Model);
}).GetHtml()
</div>
